img{
    border-radius: 50%; height: 100px; width: 100px;
}
table{
    margin-left: 20%; margin-right: 20%; size: 80%;
}
.musk{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
i{
    padding-top: 30%;
}