body {
    font-family: sans-serif;
    text-align: center;
    background-color: #fff6dc;
}

fieldset {
    width: 350px;
    margin: 10px auto;
    color:#474744;
    border: 2px solid #b2a4ff;
    border-radius: 8px;
    background-color: white;
}
h2{
    font-weight: 500;
}
input textarea{
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #474744;
    border-radius: 10px;
}
.btn{
    width: 100px;
    margin: 10px 0px;
    background-color: #b2a4ff;
    color: #ffffff;
    border-radius: 10px;
}